
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;

}

body{

  background-image: linear-gradient(to left,  #8acbff,#301f4f);
  margin-top: 80px;
  margin-left: 80px;
  transition: margin-left 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);

}

header{
  width: 100%;
  height: 80px;
  background: #241f2e;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
}

/*estilizar clases de nuestro navbar*/

.icon__menu{

  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*mover el icono un poco*/
  transform: translate(10px);
}

/*estilos del icono*/

.icon__menu i{
  color: white;
  font-size: 20px;
  /*opccion para click del icono*/
  cursor: pointer;
  position: absolute;
}


/*menu desplegable y contenido de iconos*/

.menu__side{

  width: 80px;
  height: 100%;
  background: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0 ;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 20px solid #f5f5f5 ;
  transition: all 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*acultar scroll en navegadores*/
.menu__side::-webkit-scrollbar{
  display: none ;
}

.menu__side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*contenido del menu*/
.name__page{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.name__page i{

  width: 20px;
  margin-right: 20px;
}

/*opcciones de nuestrp menu*/
.options__menu{
  padding: 20px 30px;
  position: absolute;
  top: 80px;

}

.options__menu a{
  color: black;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

/*acciones ya sea para usar el cursor*/
.options__menu a:hover{

  color: rgb(87, 181, 224);
}

/*posicionar orden de elementos*/
.options__menu .option{

  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

/*ajustar iconos*/
.options__menu .option i{

  
  width: 20px;
  margin-right: 20px;
  cursor: pointer;

}

/*estilos de los nombres*/
.options__menu .option h4{


  font-weight:300;
  cursor: pointer;
}

/*opccion de marcar cualquier icono del menu y dibujar un ceudo elemento*/
a.selected{
  color: #1d1b1b;
}

.selected::before{

  content: '' ;
  width: 3px;
  height: 80%;
  background: rgb(17, 17, 17);
  position: absolute;
  top: 10%;
  left: -25px;

}

/*contenido del diseño*/
main{
  background-color: #d3d3d3;
  margin: auto;
  margin-left: 50px;
  margin:50px;
  padding: 20px;
}

/*contenedor madre que guarda los contenedores hijos*/
.cont{

  max-width: 100%;
  height: 1500px;
  display: grid;
  margin-top: 3px;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows: repeat(40, 1fr);
  /*margenes generales*/
  row-gap: 20px;
  column-gap: 20px;
  /*margenes de contenedores*/
  margin: 3%;
  padding: 0px;
  box-sizing: border-box;
  
}

/*estilos de los contadores*/
.cabezera{
  background-color: rgb(255, 255, 255);
  grid-column: 1/13;
  grid-row: 1/5;
  border-radius: 3%;
  margin: 10px;
  margin-top: 30px;

}

.cabezera h1{
  text-align: center;
  margin-top: 25px;
}



.contenedor1{
  background-color: rgb(255, 255, 255);
  grid-column: 1/13;
  grid-row: 3/6;
  border-radius: 3%;
  margin: 10px;

  

}


.contenedor3{
  background-color: rgb(255, 255, 255);
  grid-column: 1/13;
  grid-row: 12/30;
  border-radius: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}


/*estilos de contadores*/

.contador1{
  background-color: rgb(255, 255, 255);
  grid-column: 1/5;
  grid-row: 6/12;
  border-radius: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 20px; /* Agregamos un poco de espacio interno */  
}


.contador1 i {
  color: #63c030;
  font-size: 45px; /* Ajusta el tamaño del icono según tus preferencias */
  margin-bottom: 30px; /* Agregamos espacio entre el icono y el h1 */
}


.contador1 h1 {

  font-size: 15px;
  
}



.contador2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  grid-column: 5/9;
  grid-row: 6/12;
  border-radius: 8%;
  padding: 20px; /* Agregamos un poco de espacio interno */

}


.contador2 h1 {

  font-size: 15px;
  
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contador2 i {
  color: #8acbff;
  font-size: 45px; /* Ajusta el tamaño del icono según tus preferencias */
  margin-bottom: 30px; /* Agregamos espacio entre el icono y el h1 */
}





.contador3{
  background-color: rgb(255, 255, 255);
  grid-column: 9/13;
  grid-row: 6/12;
  border-radius: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 20px; /* Agregamos un poco de espacio interno */ 

}

.contador3 h1 {

  font-size: 15px;
  
}

.contador3 i {
  color: #f12020;
  font-size: 45px; /* Ajusta el tamaño del icono según tus preferencias */
  margin-bottom: 30px; /* Agregamos espacio entre el icono y el h1 */
}

/*diseño de la tabla*/
table {
  width: 95%;
  margin: 40px;
  margin-top: 20px;
}

table th, table td {
  width: 13%;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

table th {
  background-color: #f2f2f2;
}

.btn-container {
  display: flex; /* Mostrar los botones en línea uno al lado del otro */
  gap: 10px; /* Espacio entre los botones */
}




/* Estilos para los botones de la tabla */
.btnEliminar {
  width: 50%;
  background-color: #de3156; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 16px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 0.5s ease; 
  margin-top: 4px;
}

.btnActualizar{
  width: 50%;
  background-color: #5fde31; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 16px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 0.5s ease; 
  margin-top: 4px;
  
   
}

.btnInsertar{
  width: 15%;
  height: 40px;
  background-color: #4c78af; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 16px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el */
  transition: background-color 0.5s ease; 
  margin: 15px;
  

}

/* Estilo para el botón de búsqueda */
#id_equipoo {
  width: 15%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#BuscarEquipo {
  width: 12%;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.5s ease; 
}

/*estilos de los botones para que cambien de color*/

.BuscarEquipo:hover {
  background-color: #e77d26; 
}

.btnEliminar:hover {
  background-color: #e77d26; 
}

.btnActualizar:hover{
  background-color: #d0f112; 
}

.btnInsertar:hover{
  background-color: #5338aa;
}

/* Estilos para el modal 1 y 2 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(45, 37, 100, 0.388);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  max-width: 500px;
  height: 600px;
  box-shadow: 0px 4px 8px rgba(118, 7, 7, 0.1);
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*estilos del contenido interno de la tabla*/

.modal h1{

  text-align: center;
  margin: 20px;
  
}


/*estilos del formulario de actualizar*/

#Equ_id_Act,
#Equi_tipo_Act,
#Equi_modelo_Act,
#Equi_color_Act,
#Equi_serial_Act,
#Equi_estado_Act,
#equi_especialidad_Act
{

}


#ActualizarEquipo {
  border: none;
  background-color: #b491ce;
  border-radius: 15px;
  width: 250px;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


#ActualizarEquipo:hover {
  background-color:  #8acbff; /* Cambio de color al pasar el mouse por encima */
}




#FormEquipos {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 20px; /* Espaciado interno */
  background-color: #f2f2f2; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para los elementos del formulario */
select, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}


#Guardar:hover{
  background-color: #8acbff;
}


#Guardar {
  margin: 20px;
  border: none;
  background-color: #b491ce;
  border-radius: 15px;
  width: 250px;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}



select{
  
  
}


#Equi_color,
#Equi_serial
{

 
}

#Guardar:hover{
  background-color: #8acbff;
}


#Guardar {
  border: none;
  background-color: #b491ce;
  border-radius: 15px;
  width: 250px;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}






/*clases para mover el menu para que tenga movimiento */

.body_move{
  margin-left: 250px;
}

.menu__side_move{
  width: 250px;
}


/* responsive */

@media screen and (max-width: 760px){
  .body_move{
      margin-left: 0px;
  }

  .menu__side_move{
      width: 80px;
      left: -80px;
  }
}



@media screen and (min-width: 320px) and (max-width: 1000px) {

  .cont {

      max-width: 100%;
      height: 1500px;
      display: grid;
      margin: 3px;
      margin-top: 3px;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(130, 1fr);
      /*margenes generales*/
      row-gap: 20px;
      column-gap: 20px;
      /*margenes de contenedores*/
      margin: 2%;
      padding: 0px;
     
  }


  .cabezera{
      background-color: rgb(255, 255, 255);
      grid-column: 1/12;
      grid-row: 2/6;
      border-radius: 2%;
      margin: 1px;
  
  }

  .cabezera h1{
      margin-top: 3%;
  }

  .contenedor1{
      background-color: rgb(255, 255, 255);
      grid-column: 1/12;
      grid-row: 6/10;
      
      
  }

  .contenedor1 h1{
       text-align: center;
       margin-top: 5%;
       margin: 20px;
  }

  .contenedor3{
      background-color: rgb(255, 255, 255);
      grid-column: 1/12;
      grid-row: 6/30;
      border-radius: 1%;
      overflow-y: auto;
      overflow-x: auto; /* Added overflow-x property for horizontal scrolling */
      position: relative;
      margin: 5px;
      
  }


  table {
      width: 100%; /* Adjusted width to occupy full width of the container */
      margin: 10px;
  }

  table th,
  table td {
      padding: 8px;
      font-size: 13px;
  }


  .contenedor1{
      background-color: rgb(255, 255, 255);
      grid-column: 1/12;
      grid-row: 30/50;
      margin: 10px;
      border-radius: 4%;
  }

  .contador1{
      background-color: rgb(255, 255, 255);
      grid-column: 1/12;
      grid-row: 50/60;
      margin: 10px;
      border-radius: 4%;
  }

  .contador2{
      background-color: rgb(255, 255, 255);
      grid-column: 1/12;
      grid-row: 60/70;
      margin: 10px;
      border-radius: 4%;
  }


  .contador3{
      background-color: rgb(255, 255, 255);
      grid-column: 1/12;
      grid-row: 70/80;
      margin: 10px;
      border-radius: 4%;
  }

  

  /*estilos de los botones*/

    
  .btnInsertar{
      
      width: 60%;
      height: 50px;
      background-color: #4c78af; /* Color de fondo */
      color: white; /* Color del texto */
      border: none; /* Sin borde */
      border-radius: 4px; /* Bordes redondeados */
      cursor: pointer; /* Cambiar el */
      transition: background-color 0.5s ease;
      margin-left: 20%;
      margin-top: 20%;
    
  }
  
    
  #id_equipoo {
      width: 60%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-left: 20%;
  }
  
  
  #BuscarEquipo {
  
      width: 60%;
      padding: 10px;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      margin-left: 20%;
  }
  
  
  .Guardar {
      border: none;
      background-color: #b491ce;
      border-radius: 25px;
      padding: 10px 20px;
      width: 250px;
      height: 50px;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
      margin-top: -0px;
      transition: background-color 0.6s ease; 
  }

  /*estilos de los modales*/

  
   
  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(45, 37, 100, 0.388);
  }
  
  .modal-content {
      background-color: #fefefe;
      margin: 40% auto;
      padding: 20px;
      border: 1px solid #888;
      border-radius: 8px;
      max-width: 600px;
      height: 600px;
      box-shadow: 0px 4px 8px rgba(118, 7, 7, 0.1);
      text-align: center;
      margin-left: 10px; /* Márgen izquierdo */
      margin-right: 10px; /* Márgen derecho */
  }
  
  
  .close {
      color: #aaa;
      float: right;
      font-size: 24px;
      font-weight: bold;
  }
  
  .close2 {
      color: #aaa;
      float: right;
      font-size: 24px;
      font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  
  
  /*estilos del contenido interno de la tabla*/
  
  .modal h2{
  
      text-align: center;
      margin: 20px;
      margin-top: 2%;
  
      
  }



}



