*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;

}

body{

  background-image: linear-gradient(to left, #301f4f, #8acbff);
  margin-top: 80px;
  margin-left: 80px;
  transition: margin-left 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);

}

.principal{
  color: white;
  margin-left: 760px;
  font-size: 20px;
  text-shadow: white 1px 1px 5px;
}
.logoo{
  width: 6%;
  height: 100px;
  margin-left: 600px;
}
header{
  width: 100%;
  height: 80px;
  background: #0c0c0c;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
}

/*estilizar clases de nuestro navbar*/

.icon__menu{

  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*mover el icono un poco*/
  transform: translate(10px);
}

/*estilos del icono*/

.icon__menu i{
  color: white;
  font-size: 20px;
  /*opccion para click del icono*/
  cursor: pointer;
  position: absolute;
}


/*menu desplegable y contenido de iconos*/

.menu__side{

  width: 80px;
  height: 100%;
  background: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0 ;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 20px solid #f5f5f5 ;
  transition: all 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*acultar scroll en navegadores*/
.menu__side::-webkit-scrollbar{
  display: none ;
}

.menu__side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*contenido del menu*/
.name__page{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.name__page i{

  width: 20px;
  margin-right: 20px;
}

/*opcciones de nuestrp menu*/
.options__menu{
  padding: 20px 30px;
  position: absolute;
  top: 80px;

}
.titulo{
  text-align: center;
  margin-top: 10PX;
}

.options__menu a{
  color: black;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

/*acciones ya sea para usar el cursor*/
.options__menu a:hover{

  color: rgb(110, 41, 236);
}

/*posicionar orden de elementos*/
.options__menu .option{

  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

/*ajustar iconos*/
.options__menu .option i{

  
  width: 20px;
  margin-right: 20px;
  cursor: pointer;

}

/*estilos de los nombres*/
.options__menu .option h4{


  font-weight:300;
  cursor: pointer;
}

/*opccion de marcar cualquier icono del menu y dibujar un ceudo elemento*/
a.selected{
  color: #1d1b1b;
}

.selected::before{

  content: '' ;
  width: 3px;
  height: 80%;
  background: rgb(17, 17, 17);
  position: absolute;
  top: 10%;
  left: -25px;

}

/*contenido del diseño*/
main{
  background-color: #d3d3d3;
  margin: auto;
  margin-left: 50px;
  margin:50px;
  padding: 20px;
}

/*contenedor madre que guarda los contenedores hijos*/
.cont{

  max-width: 100%;
  height: 1500px;
  display: grid;
  margin-top: 3px;
  grid-template-columns:repeat(11, 1fr);
  grid-template-rows: repeat(40, 1fr);
  /*margenes generales*/
  row-gap: 20px;
  column-gap: 20px;
  /*margenes de contenedores*/
  margin: 3%;
  padding: 0px;
  box-sizing: border-box;
  
}

.metodos{
  background-color: rgb(255, 255, 255);
  grid-column: 1/12;
  grid-row: 4/6;
  border-radius: 1%;
  margin-top: -5px;
  border-radius: 5px ;
  padding: 7px;
}

/*estilos de los contadores*/
.contenedor1{
  background-color: rgb(255, 255, 255);
  grid-column: 1/12;
  grid-row: 2/6;
  border-radius: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 50px;
  border-radius: 5px ;
}

.contenedor2{
  background-color: transparent;
  grid-column: 1/12;
  grid-row: 6/12;
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /*margenes generales*/
  row-gap: 20px;
  column-gap: 20px;
  /*margenes de contenedores*/
  border-radius: 5px ;
  padding-top: 20px;
  margin-top: -20px;
}


.contenedor3{
  background-color: rgb(255, 255, 255);
  grid-column: 1/12;
  grid-row: 12/30;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}


/*estilos de contadores*/

.contador1{
  background-color: rgb(255, 255, 255);
  grid-column: 1/5;
  grid-row: 1/11;
  border-radius: 5px;
}


.contador2{
  background-color: rgb(255, 255, 255);
  grid-column: 5/9;
  grid-row: 1/11;
  border-radius: 5px;
}

.contador3{ 
  background-color: rgb(255, 255, 255);
  grid-column: 9/13;
  grid-row: 1/11;
  border-radius: 5px;
}



/*diseño de la tabla*/
table {
  width: 95%;
  margin: 40px;
  margin-top: 20px;
}

table th, table td {
  width: 13%;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

table th {
  background-color: #f2f2f2;
}

#id_equipoo::placeholder{
  text-align: center;
}

/* Estilos para los botones de la tabla */
.btnEliminar {
  width: 100%;
  background-color: #de3156; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 16px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 0.5s ease; 
  margin-top: 4px;
  
  
}

.btnActualizar{
  width: 15%;
  height: 40px;
  background-color: #61af4c; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 16px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4 px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 0.5s ease; 

  margin-left: 160px;
  
   
}

.btnInsertar{
  width: 15%;
  height: 40px;
  background-color: #4c78af; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 8px 16px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el */
  transition: background-color 0.5s ease; 

  margin-left: 300px;
  

}

/* Estilo para el botón de búsqueda */
#id_equipoo {
  width: 15%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 160px;

}

#BuscarEquipo {

  width: 10%;
  padding: 13px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
}

/*estilos de los botones para que cambien de color*/

.btnEliminar:hover {
  background-color: #e77d26; 
}

.btnActualizar:hover{
  background-color: #d0f112; 
}

.btnInsertar:hover{
  background-color: #5338aa;
}

/* Estilos para el modal 1 y 2 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(45, 37, 100, 0.388);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  max-width: 500px;
  height: 600px;
  box-shadow: 0px 4px 8px rgba(118, 7, 7, 0.1);
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*estilos del contenido interno de la tabla*/

.modal h2{

  text-align: center;
  margin: 20px;
  
}


/*estilos del formulario de insertar*/

#Equ_id,
#Equi_tipo,
#Equi_modelo,
#Equi_color,
#Equi_serial,
#Equi_estado,
#equi_especialidad{

  margin-top: 1%;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  height: 30px;
  margin-bottom: 15px;
}

/*estilos del formulario de actualizar*/

#Equ_id_Act,
#Equi_tipo_Act,
#Equi_modelo_Act,
#Equi_color_Act,
#Equi_serial_Act,
#Equi_estado_Act,
#equi_especialidad_Act{

  margin-top: 1%;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  height: 30px;
  margin-bottom: 15px;
}

#Guardar {
  border: none;
  background-color: #b491ce;
  border-radius: 15px;
  width: 250px;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


#Guardar:hover {
  background-color:  #8acbff; /* Cambio de color al pasar el mouse por encima */
}

#ActualizarEquipo {
  border: none;
  background-color: #b491ce;
  border-radius: 15px;
  width: 250px;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


#ActualizarEquipo:hover {
  background-color:  #8acbff; /* Cambio de color al pasar el mouse por encima */
}



/*clases para mover el menu */

.body_move{
  margin-left: 250px;
}

.menu__side_move{
  width: 250px;
}


/* responsive */

@media screen and (max-width: 760px){
  .body_move{
      margin-left: 0px;
  }

  .menu__side_move{
      width: 80px;
      left: -80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .cont {
      max-width: 100%;
      height: 1000px;
      display: grid;
      margin: 3px;
      margin-top: 3px;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(130, 1fr);
      /*margenes generales*/
      row-gap: 20px;
      column-gap: 20px;
      /*margenes de contenedores*/
      margin: 3%;
      padding: 0px;
      box-sizing: border-box;
  }

  .contenedor1 {
      margin-top: 2%;
      grid-column: 1/12;
      grid-row: 25/45;
      text-align: center;
      font-size: 18px;
      border-radius: 2%;
  }

  .contenedor2 {
      grid-column: 1/12;
      grid-row: 2/25;
      overflow-x: auto; /* Added overflow-x property for horizontal scrolling */
      padding-bottom: 10px;
      border-radius: 5%;
  }

  table {
      width: 100%; /* Adjusted width to occupy full width of the container */
      margin: 15px;
  }

  table th,
  table td {
      padding: 10px;
      font-size: 11px;
  }

  .contenedor1 h1 {
    font-size: 15px;
    text-align: center;
    margin: 30px;
  }

  .btnActualizar{
    width: 50%;
    height: 50px;
    background-color: #61af4c; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.5s ease; 
 
    
     
  }
  
  .btnInsertar{
    width: 50%;
    height: 50px;
    background-color: #4c78af; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el */
    transition: background-color 0.5s ease; 
  
  }

  
  #id_equipoo {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  /* Estilo para el botón de búsqueda */
  #BuscarEquipo {

    width: 50%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }


  .Guardar {
    border: none;
    background-color: #b491ce;
    border-radius: 25px;
    padding: 10px 20px;
    width: 250px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: -0px;
    transition: background-color 0.6s ease; 
  }


  /* Estilos para el modal 1 y 2 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(45, 37, 100, 0.388);
}

.modal-content {
  background-color: #fefefe;
  margin: 40% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  max-width: 500px;
  height: 500px;
  box-shadow: 0px 4px 8px rgba(118, 7, 7, 0.1);
  text-align: center;
  margin-left: 10px; /* Márgen izquierdo */
  margin-right: 10px; /* Márgen derecho */
}


.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*estilos del contenido interno de la tabla*/

.modal h2{

  text-align: center;
  margin: 20px;
  margin-top: 2%;

  
}


  

    

 



}  
	
