*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
  
}
body{

    background-image: linear-gradient(to left,  #8acbff,#301f4f);
    margin-top: 80px;
    margin-left: 80px;
    transition: margin-left 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);

}
.h1{
text-align: center;
}

