body{

    background-image: linear-gradient(to left,  #8acbff,#301f4f);
    margin-top: 80px;
    margin-left: 80px;
    transition: margin-left 300ms  cubic-bezier(0.075, 0.82, 0.165, 1);

}   

#titulo{
    color: white;
    text-align: center;
}

#Mensaje{
    color: white;
    text-align: center;
}

#regresar{
    color: white;
    text-align: center;
}


button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }

  #Boton_Centro{
    margin-left: 690px;
  }