body{
    background-color: #0b0320;
    color: white;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}


  #recuperar {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }

  #recuperar p {
    font-size: 16px;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }

  label {
    display: block;
    font-size: 18px;
    margin-top: 10px;
  }

  #id_email {
    font-size: 16px;
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
  }

  #BotonEnviar {
    background-color: #007BFF;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }

  #BotonEnviar:hover {
    background-color: #0056b3;
  }


  .form-content .circle-3,
  .form-content .circle-2,
  .form-content .circle-1{
      position: absolute;
      background: linear-gradient(to right, #b1a8f5, #4fa8f1);
      border-radius:  50%;
      z-index: -1;
      filter: blur(3px); /* Puedes ajustar el valor (5px) según tu preferencia */
      
  }
  
  .form-content .circle-1{
      height:  120px;
      width: 120px;
      left: 0;
      top: 10%;
      transform:  translate(-50%);
  }
  
  
  .form-content .circle-2{
      height:  80px;
      width: 80px;
      right: 0;
      bottom: 0%;
      transform:  translate(-20%, 20%);
  }
  
  
  .form-content .circle-3{
      height:  80px;
      width: 80px;
      right: 0;
      bottom: 0%;
      transform:  translate(-560%, 90%);
  }