{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
  <title>Recuperacion de Contraseña</title>
  <link rel="icon" href="{% static 'imagenes/iced_logo.png' %}" type="image/x-icon">
  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container__background-triangle">
    <div class="triangle triangle1"></div>
    <div class="triangle triangle2"></div>
    <div class="triangle triangle3"></div>
  </div>  
  
{% block content %}
<h2 id="titulo">Solicitud de recuperación de contraseña enviada</h2>
<p id="Texto_Mensaje">Te hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
{% endblock %}

  
</body>
</html>