{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
  <title>Document</title>
</head>
<body>

  <div class="form-content">
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
</div>

  {% block content %}
    <h2 id="recuperar">Recuperar contraseña</h2>
    <p id="recuperar">Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
    <form method="post">
      {% csrf_token %}
      <p>
        <label for="id_email"></label>
        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Correo">
      </p>
      <button id="BotonEnviar" type="submit">Enviar</button>
    </form>
  {% endblock %}

</body>
</html>