{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}">
  <title>Recuperacion de Contraseña</title>
  <link rel="icon" href="{% static 'imagenes/iced_logo.png' %}" type="image/x-icon">
  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container__background-triangle">
    <div class="triangle triangle1"></div>
    <div class="triangle triangle2"></div>
    <div class="triangle triangle3"></div>
  </div> 

  {% block content %}
  <h2 id="Titulo">Contraseña restablecida</h2>
  <p id="Texto_Mensaje">Tu contraseña se ha restablecido correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
  {% endblock %}
  <a href="/iniciarSesion">
    <button class="boton-redireccion">Ir al inicio</button>
  </a>
  
</body>
</html>