{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
  <title>Document</title>
</head>
<body>

  <div class="form-content">
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
</div>
  
{% block content %}
<h2>Restablecer contraseña</h2>
<form method="post">
  {% csrf_token %}
  <p>
    <label for="id_new_password1">Nueva contraseña:</label>
    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
    <span class="helptext"></span>
  </p>

  <ul>
    <li>Tu contraseña no puede ser demasiado similar a tu otra información personal.</li>
    <li>Tu contraseña debe contener al menos 8 caracteres.</li>
    <li>Tu contraseña no puede ser una contraseña comúnmente utilizada.</li>
    <li>Tu contraseña no puede ser completamente numérica.</li>
  </ul>

  <p>
    <label for="id_new_password2">Confirmación de nueva contraseña:</label>
    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
  </p>

  <button type="submit">Guardar nueva contraseña</button>
</form>
{% endblock %}

  
</body>
</html>