{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}">
  <title>Document</title>
</head>
<body>

  {% block content %}
  <h2 id="Titulo">Contraseña restablecida</h2>
  <p id="Texto_Mensaje">Tu contraseña se ha restablecido correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
  {% endblock %}
  <a href="/iniciarSesion">
    <button class="boton-redireccion">Ir al inicio</button>
  </a>
  
</body>
</html>