{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/actualizacionPrefil.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Perfil del cliente</title>
</head>

<body>
{% if form %}
<h1 class="titulo">Bienvenido</h1>
<div id="myModalp" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <form method="POST" id="myForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="editar" value="editar">Guardar Cambios</button>
        </form>
    </div>
</div>


    {% else %}
        <div>No se encontró información para el cliente solicitado</div>
    {% endif %}
    
    <div class="informacionUsuario">
        <div>Nombre de usuario: {{ user.username }}</div>
        <div>Rol: {{ user.rol }}</div>    
    
  
    {% if user.imagen %}
        <img class="imagenPerfil" class="perfil-imagen" src="{{ user.imagen.url }}" alt="Imagen de usuario">
    {% endif %}
</div>

    <button class="BTNactualizaUsuario" id="openModalBtn">Editar Perfil</button>


    



    <script src="{% static 'js/modalPerfil.js' %}"></script>


    </body>
</html>
