{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú lateral responsive</title> 
    <link rel="stylesheet" href="{% static 'css/formulario1.css' %}">
    <script src="{% static 'js/InsertarEquipos.js' %}"></script>
    <script src="{% static 'js/ActualizarEquipos.js' %}"></script>
    <script src="{% static 'js/ListarEquipos.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>

</head>
<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="options__menu">	

            <a href="/index3.html" class="selected" >
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="/index4.html">
                <div class="option">
                    <i class="fa-solid fa-cloud"></i>
                    <h4>Portafolio</h4>
                </div>
            </a>
            
            <a href="">
                <div class="option">
                    <i class="fa-solid fa-database"></i>
                    <h4>Cursos</h4>
                </div>
            </a>

            <a href="">
                <div class="option">
                    <i class="fa-solid fa-code"></i>
                    <h4>Blog</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Contacto</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-plus"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

        </div>

    </div>


    <section class="cont">

        <div class="contenedor1">
            <h1>Lista de dispositivos en el centro</h1>
        </div>
        
        <div class="contenedor2">    
            <div>
                <table id="tabla1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Dispositivo</th>
                            <th>Modelo</th>
                            <th>Color</th>
                            <th>Serial</th>
                            <th>Estado</th>
                            <th>Especialidad</th>
                        </tr>
                    </thead>
                    <tbody id="tabla1-body">
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                            Consultar();
                            });
                        </script>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="contenedor3">
            <div class="form-container">
                <form method=""  id="FormEquipos" >
                    {% csrf_token %}
                    <label for="Equ_id">ID:</label>
                    <input type="text" name="Equ_id" id="Equ_id" required><br>
                    
                    <label for="Equi_tipo">Tipo:</label>
                    <input type="text" name="Equi_tipo" id="Equi_tipo" required><br>
                    
                    <label for="Equi_modelo">Modelo:</label>
                    <input type="text" name="Equi_modelo" id="Equi_modelo" required><br>
                    
                    <label for="Equi_color">Color:</label>
                    <input type="text" name="Equi_color" id="Equi_color" required><br>
                    
                    <label for="Equi_serial">Serial:</label>
                    <input type="text" name="Equi_serial" id="Equi_serial" required><br>
                    
                    <label for="Equi_estado">Estado:</label>
                    <input type="text" name="Equi_estado" id="Equi_estado" required><br>
                    
                    <label for="equi_especialidad">Especialidad:</label>
                    <input type="text" name="equi_especialidad" id="equi_especialidad" required><br>
                    
                    <input type="submit" value="Guardar">
                </form>
            </div>
        </div>


        <div class="contenedor4">
            <div class="form-container">
                <form method=""  id="ActualizarEquipos" >
                    {% csrf_token %}
                    <label for="Equ_id">ID:</label>
                    <input type="text" name="Equ_id" id="Equ_id" required><br>
                    
                    <label for="Equi_tipo">Tipo:</label>
                    <input type="text" name="Equi_tipo" id="Equi_tipo" required><br>
                    
                    <label for="Equi_modelo">Modelo:</label>
                    <input type="text" name="Equi_modelo" id="Equi_modelo" required><br>
                    
                    <label for="Equi_color">Color:</label>
                    <input type="text" name="Equi_color" id="Equi_color" required><br>
                    
                    <label for="Equi_serial">Serial:</label>
                    <input type="text" name="Equi_serial" id="Equi_serial" required><br>
                    
                    <label for="Equi_estado">Estado:</label>
                    <input type="text" name="Equi_estado" id="Equi_estado" required><br>
                    
                    <label for="equi_especialidad">Especialidad:</label>
                    <input type="text" name="equi_especialidad" id="equi_especialidad" required><br>
                    
                    <input type="submit" value="Guardar">
                </form>
            </div>
        </div>
        <div class="contenedor5">C</div>
        

    </section>




    <script src="static/js/script.js"></script>
    




    
</body>
</html>
