{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title> 
    <link rel="stylesheet" href="{% static 'css/Equipo.css' %}">
    <script src="{% static 'js/Crud-Equipo.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>

</head>
<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="options__menu"> 

            <a href="/Equipo" class="selected">
                <div class="option">
                    <i class="fas fa-laptop"></i>
                    <h4>Equipos</h4>
                </div>
            </a>

            <a href="/Usuario">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            
            <a href="/Prestamo">
                <div class="option">
                    <i class="fas fa-server"></i>
                    <h4>Prestamos</h4>
                </div>
            </a>

            <a href="/Sancion">
                <div class="option">
                    <i class="fas fa-exclamation-circle"></i>
                    <h4>Sanciones</h4>
                </div>
            </a>


            <a href="#">
                <div class="option">
                    <i class="fas fa-box-open"></i>
                    <h4>Devoluciones</h4>
                </div>
            </a>
            

            <a href="#">
                <div class="option">
                    <i class="fas fa-phone"></i>
                    <h4>Contacto</h4>
                </div>
            </a>
            

            <a href="#">
                <div class="option">
                    <i class="fas fa-user-circle"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
            
        </div>
    </div>


    <section class="cont">

        <div class="contenedor1">
                <h1>Lista de equipos registrados</h1>
                <button class="btnInsertar">Insertar Equipo</button>
                <button class="btnActualizar">Actualizar Equipo</button>
                <label for=""><input type="text" id="id_equipoo" name="id_equipoo" placeholder="equipo"></label>
                <button type="button" id="BuscarEquipo" class="btn btn-danger w-100 fs-5 mb-3">Buscar</button>
        </div>

        <div class="contenedor2">
            <div class="contador1">A</div>
            <div class="contador2">B</div>
            <div class="contador3">C</div>
        </div>

        <div class="contenedor3">    
            <div>
                <table id="tabla1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Dispositivo</th>
                            <th>Modelo</th>
                            <th>Color</th>
                            <th>Serial</th>
                            <th>Estado</th>
                            <th>Especialidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla1-body">
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                            Consultar();
                            });
                        </script>
                    </tbody>
                </table>
            </div>
        </div>

        <!--modal1-->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                
            </div>
        </div>
        <!-- ... -->
        
        <!--modal2-->
        <div id="myModal2" class="modal">
            <div class="modal-content">
                <span class="close2">&times;</span>
                <h1>Insertar Equipo</h1>
                <form method=""  id="FormEquipos" >
                    {% csrf_token %}

                    <input type="text" name="Equi_tipo" id="Equi_tipo" placeholder="Tipo" required><br>
                    
                    <input type="text" name="Equi_modelo" id="Equi_modelo" placeholder="Modelo" required><br>
                    
                    <input type="text" name="Equi_color" id="Equi_color" placeholder="Color" required><br>
                    
                    <input type="text" name="Equi_serial" id="Equi_serial" placeholder="Serial" required><br>
                    
                    <input type="text" name="Equi_estado" id="Equi_estado" placeholder="Estado" required><br>
                    
                    <input type="text" name="equi_especialidad" id="equi_especialidad"  placeholder="Especialidad"><br>
                
                    <button class="Guardar" type="submit" value="Guardar" id="Guardar">Enviar</button>
                </form>
            </div>
        </div>
        <!---->

    </section>

    <script src="static/js/script.js"></script>
    <script src="static/js/script3.js"></script>
    
</body>
</html>