<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form method="POST" action="/insertar/">
        <label for="Equ_id">ID</label>
        <input type="text" name="Equ_id">
        <label for="Equi_tipo">Tipo</label>
        <input type="text" name="Equi_tipo">
        <label for="Equi_modelo">Modelo</label>
        <input type="text" name="Equi_modelo">
        <label for="Equi_color">Color</label>
        <input type="text" name="Equi_color">
        <label for="Equi_serial">Serial</label>
        <input type="text" name="Equi_serial">
        <label for="Equi_estado">Estado</label>
        <input type="text" name="Equi_estado">
        <label for="equi_especialidad">especialidad</label>
        <input type="text" name="equi_especialidad">
        <input type="submit">
    </form>
</body>
</html>
