<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST" action="/insertarSancion/">
        <label for="San_Pres_Id">ID</label>
        <input type="text" name="San_Pres_Id">
        <label for="San_Fecha">Fecha</label>
        <input type="text" name="San_Fecha">
        <label for="San_Hora">Hora</label>
        <input type="text" name="San_Hora">
        <label for="San_tiempo">Tiempo</label>
        <input type="text" name="San_tiempo">
        <label for="San_Descripcion">Descripcion</label>
        <input type="text" name="San_Descripcion">
        <input type="submit">
    </form>

    
</body>
</html>
