<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form method="POST" action="/insertarUsuario/">
        <label for="Usu_Documento">DOCUMENTO</label>
        <input type="text" name="Usu_Documento">
        <label for="Usu_Nombre">NOMBRE</label>
        <input type="text" name="Usu_Nombre">
        <label for="Usu_Apellido">APELLIDO</label>
        <input type="text" name="Usu_Apellido">
        <label for="Usu_tipo">TIPO</label>
        <input type="text" name="Usu_tipo">
        <label for="Usu_Celular">CELULAR</label>
        <input type="text" name="Usu_Celular">
        <label for="Usu_Correo">CORREO</label>
        <input type="text" name="Usu_Correo">
        <label for="Usu_Ficha">FICHA</label>
        <input type="text" name="Usu_Ficha">
        <input type="submit">
    </form>
</body>
</html>