{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "estilosindex1.css" %}'>
    <title>Document</title>
</head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Banco de Bogota</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="index.html">Clientes</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="index1.html">Linea De Creditos</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="index2.html">Creditos</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="index3.html">Usuarios</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="index4.html">Empleados</a>
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <thead>
    <tr>
        <h1 class="text-center">Usuarios</h1>
    </tr>
</thead>
    <table class="table table-bordered table-striped table-dark text-center">
        <thead>
            <tr>
              <th scope="col">Documento </th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Tipo</th>
              <th scope="col">Celular</th>
              <th scope="col">Correo</th>
              <th scope="col">Ficha</th>
            </tr>
          </thead>
        <tbody>
            {%for i in object_list %}
                <tbody>
                  <tr>
                    <td>{{i.Usu_Documento}}</td>
                    <td>{{i.Usu_Nombre}}</td>
                    <td>{{i.Usu_Apellido}}</td>
                    <td>{{i.Usu_tipo}}</td>
                    <td>{{i.Usu_Celular}}</td>
                    <td>{{i.Usu_Correo}}</td>
                    <td>{{i.Usu_Ficha}}</td>
                  </tr>
            {%endfor%}
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>