{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Nosotros.css' %}">
    <script src="{% static 'js/script2.js' %}"></script>
    <title>Nosotros</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>

        <div class="container__menu">
            <div class="logo">
                <img src="/imagenes/sena.logo.png" alt="">
            </div>
            <div class="menu">
                <i class="fas fa-bars" id="btn_menu"></i>
                <div id="back_menu"></div>
                <nav id="nav">
                    <img src="/images/iced.png" alt="">
                    <ul>
                        <li><a href="/Principal" >Principal</a></li>
                        <li><a href="/Informacion">Informacion </a></li>
                        <li><a href="/Nosotros" id="selected" >Nosotros</a></li>
                        <li><a href="/iniciarSesion/">iniciar sesion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    

    <div class="container__background-triangle">
        <div class="triangle triangle1"></div>
        <div class="triangle triangle2"></div>
        <div class="triangle triangle3"></div>
    </div>

    <div class="container__cards">
        <div class="card">
            <div class="cover__card">
                <img src="images/nicolas.jpg" alt="">
            </div>
            <h2>Nicolas Garzon</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui sunt eius dolore pariatur. Error, provident et similique sunt voluptate odit eos facere expedita, culpa at officia magnam quia vel eius!</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">vertyt</h3>
                <i>08 Marzo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="images/dimaria.jpg" alt="">
            </div>
            <h2>Camilo cubides</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui sunt eius dolore pariatur. Error, provident et similique sunt voluptate odit eos facere expedita, culpa at officia magnam quia vel eius!</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">insano</h3>
                <i>08 Marzo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="images/justin.jpg" alt="">
            </div>
            <h2>Justino</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui sunt eius dolore pariatur. Error, provident et similique sunt voluptate odit eos facere expedita, culpa at officia magnam quia vel eius!</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Mamie Barnett</h3>
                <i>robinso</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="images//daniel funeme.jpeg" alt="">
            </div>
            <h2>Daniel peso pluma</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui sunt eius dolore pariatur. Error, provident et similique sunt voluptate odit eos facere expedita, culpa at officia magnam quia vel eius!</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Mamie Barnett</h3>
                <i>main bojaca</i>
            </div>
        </div>
        
        
    </div>
    
    

    <script src="static/js/script2.js"></script>
    
    
</body>
</html>