{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Nosotros.css' %}">
    <script src="{% static 'js/script2.js' %}"></script>
    <title>Nosotros</title>
    <link rel="icon" href="{% static 'imagenes/iced_logo.png' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>

        <div class="container__menu">
            <div class="logo">
                <img src="{% static 'imagenes/sena.logo.png' %}" alt="">
            </div>
            <div class="menu">
                <i class="fas fa-bars" id="btn_menu" style="color: #fafafa;"></i>
                <div id="back_menu"></div>
                <nav id="nav">
                    <img src="{% static 'imagenes/iced_logo.png' %}" alt="">
                    <ul>
                        <li><a href="/Principal" >Principal</a></li>
                        <li><a href="/Informacion">Informacion </a></li>
                        <li><a href="/Nosotros" id="selected" >Nosotros</a></li>
                        <li><a href="/iniciarSesion/">iniciar sesion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    

    <div class="container__background-triangle">
        <div class="triangle triangle1"></div>
        <div class="triangle triangle2"></div>
        <div class="triangle triangle3"></div>
    </div>

    <div class="container__cards">
        <div class="card">
            <div class="cover__card">
                <img src="{% static 'imagenes/nicolas.jpeg' %}" alt="">
            </div>
            <h2>Nicolas Garzon</h2>
            <p class="nc">Rol: Encargado del desarrollo de la parte móvil y en el Frontend de la pagina wed, contribuciones desarrollo de la aplicación móvil y sus funcionalidades aseguramiento de una experiencia de usuario consistente en la aplicación móvil. integración de características específicas del dispositivo movil participación en la recolección de información para el proyecto, Además colaboro en la adaptación del Backend para la Aplicación Móvil de ICED.</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Correo:</h3>
                <i>nicolasgarzon1616@gmail.com</i>
                
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="{% static 'imagenes/camilo.jpeg' %}" alt="">
            </div>
            <h2>Camilo Cubides</h2>
            <p class="nc">Rol: Responsable de tanto el desarrollo del Backend como del Frontend, Contribuciones participación activa en el diseño y desarrollo de la arquitectura del sistema implementación de funcionalidades tanto en el lado del servidor como en el lado del cliente coordinación entre los equipos de Backend y Frontend para garantizar la coherencia del sistema, contribuciones de diseño en el area de la Aplicacion  movil.</p>
            <hr>
            <div class="footer__card">
                <h3 class="user__namen">Correo:</h3>
                <i class="cc">camilocubides02@gmail.com</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="{% static 'imagenes/Justin.jpeg' %}" alt="">
            </div>
            <h2>Justin Daniel</h2>
            <p class="nc">Rol Encargado del desarrollo del Frontend  del software contribuciones creación de la interfaz de usuario  y experiencia de usuario implementación de las funcionalidades del cliente en la interfaz de usuario colaboración con el equipo de diseño para asegurar una interfaz atractiva y fácil de usar  participación en la recolección de información para el proyecto, coordinación entre los equipos de Backend y Frontend para garantizar la coherencia del sistema, contribuciones de diseño en el area de la Aplicacion  movil. </p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Correo</h3>
                <i>danielghost39@gmail.com</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="{% static 'imagenes/Daniel.jpeg' %}" alt="">
            </div>
            <h2>Daniel Gonzalez</h2>
            <p class="nc">Rol: Encargado del desarrollo del Backend del software Contribuciones Diseño e implementación de la arquitectura del servidor Desarrollo de la lógica del servidor para gestionar la lógica empresarial y los datos, Integración de servicios y API necesarios para el funcionamiento del sistema,coordinación entre los equipos de Backend y Frontend para garantizar la coherencia del sistema, contribuciones del  Backend  en el area de la Aplicacion  movil. </p>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">Correo</h3>
                <i>camolo.777@gmail.com</i>
            </div>
        </div>
        
        
    </div>
    
    

    <script src="static/js/script2.js"></script>
    
    
</body>
</html>