{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/ListarPrestamos.js' %}"></script>
    <script src="{% static 'js/InsertarPrestamo.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>
</head>

<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

    </header>
    

    <div class="menu__side" id="menu_side">

        <div class="options__menu">	

            <a href="/index3.html" class="selected" >
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="/index4.html">
                <div class="option">
                    <i class="fa-solid fa-cloud"></i>
                    <h4>Portafolio</h4>
                </div>
            </a>
            
            <a href="">
                <div class="option">
                    <i class="fa-solid fa-database"></i>
                    <h4>Cursos</h4>
                </div>
            </a>

            <a href="">
                <div class="option">
                    <i class="fa-solid fa-code"></i>
                    <h4>Blog</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Contacto</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-plus"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

        </div>
    </div>

    <section class="cont">

        <div class="contenedor1">
            <h1>Lista de dispositivos en el centro</h1>
        </div>
        
        <div class="contenedor2">    
            <div>
                <table id="tabla1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Id equipo</th>
                            <th>Documento</th>
                            <th>Fecha Entrega</th>
                            <th>Fecha Devolucion</th>
                            <th>Hora entrega</th>
                            <th>Hora Devolucion</th>
                            <th>Tiempo Limite</th>
                            <th>Observaciones de Entrega</th>
                            <th>Observaciones de recibido</th>
                        </tr>
                    </thead>
                    <tbody id="tabla1-body">
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                ConsultarPrestamos();
                            });
                        </script>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="contenedor3">
            <form method="" id="FormPrestamos">
                {% csrf_token %}
                <label for="Pres_Id">ID</label>
                <input type="text" name="Pres_Id">

                <label for="Pres_Equipos_id">ID DEL EQUIPO</label>
                <input type="text" name="Pres_Equipos_id">

                <label for="Pres_Usuarios_Documento">DOCUMENTO DEL USUARIO</label>
                <input type="text" name="Pres_Usuarios_Documento">

                <label for="Pres_Fec_Entrega">FECHA DE ENTREGA</label>
                <input type="text" name="Pres_Fec_Entrega">

                <label for="Pres_Fec_Devolucion">FECHA DEVOLUCION</label>
                <input type="text" name="Pres_Fec_Devolucion">

                <label for="Pres_Hora_Entrega">HORA ENTREGA</label>
                <input type="text" name="Pres_Hora_Entrega">

                <label for="Pres_Hora_Devolucion">HORA DE DEVOLUCION</label>
                <input type="text" name="Pres_Hora_Devolucion">

                <label for="Pres_Tiempo_Limite">TIEMPO LIMITE</label>
                <input type="text" name="Pres_Tiempo_Limite">

                <label for="Pres_Observaciones_entrega">OBSERVACION DE ENTREGA</label>
                <input type="text" name="Pres_Observaciones_entrega">

                <label for="Pres_Observaciones_recibido">OBSERVACION DE RECIBIMIENTO</label>
                <input type="text" name="Pres_Observaciones_recibido">

                <input type="submit" value="Guardar">
            </form>
        </div>
        <div class="contenedor4">
        </div>
        <div class="contenedor5">
        </div>
    </section>

    <script src="static/js/script.js"></script>
</body>
</html>



