{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio </title>
    <link rel="stylesheet" href="{% static 'css/Portada.css' %}">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <header>

        <div class="container__menu">
            <div class="logo">
                <img src="{% static 'imagenes/sena.logo.png' %}" alt="">
            </div>
            <div class="menu">
                <i class="fas fa-bars" id="btn_menu" style="color: #fafafa;"></i>
                <div id="back_menu"></div>
                <nav id="nav">
                    <img src="" alt="">
                    <ul>
                        <li><a href="/Principal" id="selected">Principal</a></li>
                        <li><a href="/Informacion">Informacion</a></li>
                        <li><a href="/Nosotros" >Nosotros</a></li>
                        <li><a href="/iniciarSesion/">Iniciar sesion</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    

    <main>
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                    <h1 class="h1">ICED - SENA</h1>
                    
            <p class="p1">¡Hola Aprendiz del SENA! En nuestro sistema de control de inventario, puedes explorar la variedad de dispositivos electrónicos disponibles para préstamo. Descubre cuántos dispositivos hay disponibles y dirígete al área de sistemas para realizar un préstamo cuando lo necesites.</p>

            <p class="p1">No olvides llevar contigo tu carnet del SENA para realizar el proceso de préstamo de manera eficiente. ¡Regístrate ahora para comenzar a explorar y hacer uso de nuestros dispositivos!</p>

                  <a class="bottom" href="/registro/"><input type="button" value="REGISTRATE"></a>
                </div>


                
                <div class="svg">
                    <img src="{% static 'imagenes/LogoSample_ByTailorBrands_(1)-transformed (1).png' %}" alt="">
                </div>
            </div>
        </div>
    </main>

    <script src="static/js/script2.js"></script>
</body>
</html