{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title> 
    <link rel="stylesheet" href="{% static 'css/Usuario.css' %}">
    <script src="{% static 'js/Crud-Usuarios.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   

</head>
<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="options__menu">	

            <a href="/Equipo" >
                <div class="option">
                    <i class="fas fa-laptop"></i>
                    <h4>Equipos</h4>
                </div>
            </a>

            <a href="/Usuario" class="selected">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            
            <a href="/Prestamo">
                <div class="option">
                    <i class="fas fa-server"></i>
                    <h4>Prestamos</h4>
                </div>
            </a>

            <a href="/Sancion">
                <div class="option">
                    <i class="fas fa-exclamation-circle"></i>
                    <h4>Sanciones</h4>
                </div>
            </a>


            <a href="#">
                <div class="option">
                    <i class="fas fa-box-open"></i>
                    <h4>Devoluciones</h4>
                </div>
            </a>
            

            <a href="#">
                <div class="option">
                    <i class="fas fa-phone"></i>
                    <h4>Contacto</h4>
                </div>
            </a>
            

            <a href="#">
                <div class="option">
                    <i class="fas fa-user-circle"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

        </div>

    </div>

    <section class="cont">

        <div class="cabezera">
                <h1 class="titulo">LISTA DE USUARIOS REGISTRADOS</h1>
        </div>

        <div class="contenedor1">
            <button class="btnInsertar">Insertar Usuario</button>
            <label for=""><input type="text" id="id_usuarioo" name="id_usuarioo" placeholder="Ingrese Documento"></label>
            <button type="button" id="BuscarUsuario" class="btn btn-danger w-100 fs-5 mb-3">Buscar</button>
        </div>

        
        <div class="contador1">A</div>
        <div class="contador2">B</div>
        <div class="contador3">C</div>
    
        
        <div class="contenedor3">    
            <div>
                <table id="tabla1">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>tipo</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Ficha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla1-body">
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                            Consultar();
                            });
                        </script>
                    </tbody>
                </table>
            </div>
        </div>

        <!--modal1-->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="ActualizarUsuarioForm">
                    <label for="Usu_Documento">Documento:</label>
                    <input type="text" id="Usu_DocumentoActualizar" name="Usu_Documento" required><br><br>
            
                    <label for="Usu_Nombre">Nombre:</label>
                    <input type="text" id="Usu_NombreActualizar" name="Usu_Nombre" required><br><br>
            
                    <label for="Usu_Apellido">Apellido:</label>
                    <input type="text" id="Usu_ApellidoActualizar" name="Usu_Apellido" required><br><br>
            
                    <label for="Usu_tipo">Tipo:</label>
                    <input type="text" id="Usu_tipoActualizar" name="Usu_tipo" required><br><br>
            
                    <label for="Usu_Celular">Celular:</label>
                    <input type="text" id="Usu_CelularActualizar" name="Usu_Celular" required><br><br>
            
                    <label for="Usu_Correo">Correo:</label>
                    <input type="text" id="Usu_CorreoActualizar" name="Usu_Correo" required><br><br>
            
                    <label for="Usu_Ficha">Ficha:</label>
                    <input type="text" id="Usu_FichaActualizar" name="Usu_Ficha" required><br><br>
            
                    <button type="submit">Actualizar Usuario</button>
                </form>
            
            </div>
        </div>
        <!-- ... -->


        <!--modal2-->
        <div id="myModal2" class="modal">
                <div class="modal-content">
                    <span class="close2">&times;</span>
                    <h1>Insertar Usuario</h2>
                    <form method=""  id="FormUsuarios" >
                        {% csrf_token %}
                        

                        <div>
                            <input type="text" name="Usu_Documento" id="Usu_Documento" placeholder="Documento" required><br>
                        </div>

                        <div>
                            <input type="text" name="Usu_Nombre" id="Usu_Nombre" placeholder="Nombre" required><br>
                        </div>
                    
                        <div>
                            <input type="text" name="Usu_Apellido" id="Usu_Apellido" placeholder="Apellido" required><br>
                        </div>
                        
                        <div>
                            <select id="Usu_tipo">
                                <option value="Aprendiz">Aprendiz</option>
                                <option value="Instructor">Instructor</option>
                                <option value="Otro">Otro</option>
                        
                            </select>
                        </div>

                        <div>
                            <input type="text" name="Usu_Celular" id="Usu_Celular" placeholder="Celular" required><br>
                        </div>  
                        
                        <div>
                            <input type="text" name="Usu_Correo" id="Usu_Correo"  placeholder="Correo"><br>
                        </div>

                        <div>
                            <input type="text" name="Usu_Ficha" id="Usu_Ficha" placeholder="Ficha" required><br>
                        </div>

                        <div>
                            <button type="submit" value="Guardar" id="Guardar">Enviar</button>
                        </div>
                    </form>
                </div>
        </div>
        <!---->
        
    </section>

    <script src="static/js/script.js"></script>
    <script src="static/js/script3.js"></script>
    
</body>
</html>
