{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title> 
    <link rel="stylesheet" href="{% static 'css/Usuario.css' %}">
    <script src="{% static 'js/ListarUsuarios.js' %}"></script>
    <script src="{% static 'js/InsertarUsuarios.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>

</head>
<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="options__menu">	

            <a href="/index3.html" class="selected" >
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="/index4.html">
                <div class="option">
                    <i class="fa-solid fa-cloud"></i>
                    <h4>Portafolio</h4>
                </div>
            </a>
            
            <a href="">
                <div class="option">
                    <i class="fa-solid fa-database"></i>
                    <h4>Cursos</h4>
                </div>
            </a>

            <a href="">
                <div class="option">
                    <i class="fa-solid fa-code"></i>
                    <h4>Blog</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Contacto</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-plus"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

        </div>

    </div>


    <section class="cont">

        <div class="contenedor1">
            <h1>Lista de Usuarios Registrados</h1>
        </div>
        
        <div class="contenedor2">    
            <div>
                <table id="tabla1">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>tipo</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Ficha</th>
                        </tr>
                    </thead>
                    <tbody id="tabla1-body">
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                            Consultar();
                            });
                        </script>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="contenedor3">
            <h1>Insertar Equipo</h1>
                <form method=""  id="FormUsuarios" >


                    {% csrf_token %}
                    
                    <input type="text" name="Usu_Documento" id="Usu_Documento" placeholder="Documento" required><br>
                
                    <input type="text" name="Usu_Nombre" id="Usu_Nombre" placeholder="Nombre" required><br>
                    
                    <input type="text" name="Usu_Apellido" id="Usu_Apellido" placeholder="Apellido" required><br>
            
                    <input type="text" name="Usu_tipo" id="Usu_tipo" placeholder="Tipo" required><br>
                    
                    <input type="text" name="Usu_Celular" id="Usu_Celular" placeholder="Celular" required><br>
                    
                    <input type="text" name="Usu_Correo" id="Usu_Correo"  placeholder="Correo"><br>
                    
                    <input type="text" name="Usu_Ficha" id="Usu_Ficha" placeholder="Ficha" required><br>
                                    
                    <button type="submit" value="Guardar" id="Guardar">Enviar</button>

                </form>
        </div>
    


        <div class="contenedor4">B</div>
        <div class="contenedor5">C</div>
        

    </section>




    <script src="static/js/script.js"></script>
    




    
</body>
</html>
