{% load static %}
<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú lateral responsive</title>
    <link rel="stylesheet" href="{% static 'css/VistasUsuarios.css' %}">
    <script src="{% static 'js/Crud-Equipo.js' %}"></script>
    <script src="{% static 'js/Crud-VistasUsuario.js' %}"></script>
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="{% static 'imagenes/iced_logo.png' %}" type="image/x-icon">


</head>
<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="options__menu"> 

            <a href="#" class="selected" >
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-cloud"></i>
                    <h4>Portafolio</h4>
                </div>
            </a>
            
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-database"></i>
                    <h4>Cursos</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-code"></i>
                    <h4>Blog</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Contacto</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-plus"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

        </div>

    </div>


    <section class="cont">
        <div class="encabezado">
            <h1>Perfil Usuario</h1>
        </div>
        <div class="contenedor1" >
            <h3>HISTORIAL DE MIS DATOS </h3>
            <!-- Creación de tabla de datos -->
            <table id="tabla1">
                <thead>
                    <tr>
                        <th>Dispositivo - Marca</th>
                        <th>Observaciones</th>
                        <th>Serial</th>
                        <th>Especialidad</th>
                        <th>Documento del Usuario</th>
                        <th>Fecha de entrega</th>
                    </tr>
                </thead>
                <tbody id="tabla1-body"></tbody>
            </table>
            <!-- Final de la tabla -->
        </div>   
        
        <div class="contenedor2">
            <h1>Mi Perfil</h1>
           
    
        </div>

        <div class="contenedor3">
            <p><strong>¡ATENCIÓN!</strong> A partir de la fecha, el horario de atención será:</p>
            <p>7:00 am - 1:00 pm</p>
            <p>2:00 pm - 5:00 pm</p>
            <p>Sofía Plus</p>
        </div>


        <div class="contenedor4">
            <h3 class="h3texto">Portatiles disponibles </h32>
                <div class="icon-container">
                    <i class="fa-solid fa-circle-check"></i>
                    <h1 class="activos">contador</h1>
                </div>
        </div>
    </section>




    <script src="js/script.js"></script>
    <script src="js/listar.js"></script>

</body>
</html>